
.body-container{
    position: relative;
    z-index:0;
    display:grid;
    grid-template-columns: 1fr 5fr;
}

.head-board{
    color: white;
    background-color: #990F4B;
    width:  100%;
    height: 20px;
}

.sidebar{
    height : 100%; 
    border : 1px solid pink;
    background-color: #9F2B68;
    color: white;
    border: 1px solid pink;
}

.inside-one{
    padding:3px;
    float:left;
    margin-right: 8px;
    border: 1px solid green;
    background-color: lightgreen;
}

.sidebar-one{
    font-size: 20px;
    justify-content: space-around;
    border : 1px solid #CD519D;
    padding: 10px;
    height: 30px;
}

.sidebar-two{
    font-size: 16px;
    justify-content: space-around;
    text-align: left;
    padding-top: 8px;
    height: 30px;
    padding-left: 10px;
    justify-content: space-around;
}

.sidebar-one:hover{
    background-color: #7E2A5C;
}

.sidebar-two:hover{
    background-color: #7E2A5C;
}

.sidebar-three:hover{
    background-color: #7E2A5C;
}

.sidebar-three, .sidebar-four{
    font-size: 16px;
    justify-content: space-around;
    text-align: left;
    padding-top: 15px;
    padding-left:5px;
    height: 30px;
    font-style: italic;
}

.sidebar-four:hover{
    font-style: normal;
    background-color: #6C244C;
}

.item-card{
    display: flex;
    padding : 10px;
}

.list-card{
    border: 1px solid #d3d3d3;
    background-color: #E8E9EB;
    padding: 10px;
    margin-right:10px ;
    border-radius: 10px;
}

.body{
    background-color: #C54B8C;
    display: flex;
    align-items: flex-start;
}

.body-add-card{
    padding : 5px;
    border-radius: 8px;
    border : 1px solid #d3d3d3;
}

.add-card{
    padding : 5px;
    margin-top: 10px;
    border-radius: 10px;
    border : 1px solid #d3d3d3;
}
.add-card:hover, .body-add-card:hover{
    background-color: #d3d3d3;
}

.main-body{
    display : grid;
    grid-template-rows: 1fr 20fr;
}

.nav-body{
    background-color: #6C244C;
    color: white;
    font-size : 20px;
    padding : 15px;
    padding-right: 10px;
}

.add-card-div{
    padding : 10px;
    margin: 10px;
    gap : 10px;
    border-radius: 10px;
    background-color: #E8E9EB;
    border : 1px solid #d3d3d3;
}

.input-field{
    margin:5px;
    padding: 5px;
    border : 1px solid #d3d3d3;
    border-radius : 10px;
}

.sidebar-ul{
    list-style-type: none;
    color: white;
    font-size: medium;
    padding-bottom: 10px;
    justify-content: space-around;
}